@use "../../styles/variables" as *;
@use "../../styles/media" as *;

.quantity {
  width: 160px;
  background: $light-grayish-blue;
  border-radius: 10px;
  padding: 0 $p-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: $f-bold;
  min-height: 56px;
}
