@use "../../styles/variables" as *;
@use "../../styles/media" as *;

.mobile-menu {
  .overlay {
    position: fixed;
    inset: 0;
    background: $black;
    z-index: 20;
  }
  .drawer {
    position: fixed;
    inset: 0 auto 0 0;
    width: 250px;
    background: $white;
    z-index: 21;
    padding: $p-1-5;
  }
  .close {
    margin-bottom: $p-2-5;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: $p-1-5;
  }
  a {
    text-decoration: none;
    color: $very-dark-blue;
    font-weight: $f-bold;
  }
}
